.custom-active-item {
    background-color: #54B435;
    color: white; /* Assuming you want white text on dark brown background */
}
.custom-heading {
    color: #8E3200;
}

// brand and types
.list-group-item.active {
    background-color: #4abfa6;
    border-color: #4abfa6;
    color: 8E3200;
}

// Searcg and Reset
.btn-outline-primary:hover {
    background-color: #64a7c7;
    border-color: #64a7c7;
    color: white;
}

.btn-outline-success:hover {
    background-color: #4abfa6;
    border-color: #4abfa6;
    color: white;
}

