<div class="fst-italic mb-4 custom-paragraph">
    Order Summary
</div>

<div class="p-4">
    <p class="fst-italic mb-4">
        Shipping costs will be calculated based on choices made during checkout.
    </p>
    <!-- Order summary list -->
    <ul class="list-unstyled mb-4" *ngIf="(basketService.basketTotalSource$ | async) as totals">
        <!-- Order Subtotal -->
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Order subtotal</strong>
            <strong>{{totals.subtotal | currency}}</strong>
        </li>
        <!-- Shipping Cost -->
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Shipping</strong>
            <strong>{{totals.shipping | currency}}</strong>
        </li>
        <!-- Total -->
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Total</strong>
            <strong>{{totals.total | currency}}</strong>
        </li>
    </ul>
</div>
