
.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background: #54B435;
    color: white;
    text-align: center;
    top: -12px;
    right: 30px; /* postion of 5 in the cart*/
}















