
.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background: #54B435;
    color: white;
    text-align: center;
    top: -12px;
    right: 30px; /* postion of 5 in the cart*/
}

a{
    text-decoration: none;
    color : #6B240C;
    font-weight: bold;

    &.active{
        color: #4abfa6
    }

}

.logo {
    cursor: pointer;
}

.btn-outline-secondary:hover {
    background-color: #4abfa6;
    border-color: #64a7c7;
    color: white;
}










