
.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background: #54B435;
    color: white;
    text-align: center;
    top: -12px;
    right: 30px; /* postion of 5 in the cart*/
}

a{
    text-decoration: none;
    color : #8E3200;
    font-weight: bold;

    &.active{
        color: #54B435
    }

}

.logo {
    cursor: pointer;
}











