<!-- About 2 - Bootstrap Brain Component -->

<!-- Why choose us -->
<section id="contact-info" class="py-3 py-md-5 bg-light">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6">
        <img class="img-fluid rounded" src="https://png.pngtree.com/thumb_back/fw800/background/20240530/pngtree-new-a-cup-of-tea-with-natural-background-image_15845845.jpg" alt="About 2">
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-10">
            <h2 class="mb-3">Why Choose Us?</h2>
            <p class="lead fs-4 mb-3 mb-xl-5">At <span><b>BeanTea</b></span>, we are passionate about providing the finest teas and coffees to our customers. Here are a few reasons why you should choose us:</p>
            <div class="d-flex align-items-center mb-3">
              <div class="me-3 custom-check-circle">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
              </div>
              <div>
                <p class="fs-5 m-0"><b>Premium Quality:</b> ensuring that every cup you enjoy is rich, flavorful, and aromatic</p>
              </div>
            </div>
            <div class="d-flex align-items-center mb-3">
              <div class="me-3 custom-check-circle">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
              </div>
              <div>
                <p class="fs-5 m-0"><b>Health Benefits:</b> Our teas and coffees are not only delicious but also offer numerous health benefits</p>
              </div>
            </div>
            <div class="d-flex align-items-center mb-4 mb-xl-5">
              <div class="me-3 custom-check-circle">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
              </div>
              <div>
                <p class="fs-5 m-0"><b>Community Focus:</b> We believe in giving back. A portion of our profits supports local communities</p>
              </div>
            </div>
            <!-- <a href="#contact-info" class="btn bsb-btn-xl btn-outline-primary rounded-pill">Connect Now</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br> 
<!-- contact info  -->
<section id="contact-info" class="py-3 py-md-5 bg-light">
  <div class="container">
    <span class="big-circle"></span>
    <img src="img/shape.png" class="square" alt="" />
    <div class="form">
      <div class="contact-info">
        <h3 class="title">Let's get in touch</h3>
        <p class="text">
            Have a question about our products? Need help choosing the perfect blend for your taste? Interested in wholesale opportunities? Whatever you need, our team is ready to provide you with expert guidance and exceptional customer service. Feel free to reach out using any of the options below. We're excited to hear from you and help you discover the perfect cup of tea or coffee!
        </p>

        <div class="info">
          <div class="information">
            <i class="fas fa-map-marker-alt"></i> Taytay Rizal Philippines 1920
            
          </div>
          <div class="information">
            <i class="fas fa-envelope"></i> 
            <p>beantea808"&#64;"gmail.com</p>
          </div>
          <div class="information">
            <i class="fas fa-phone"></i>
            <p>+6391234567890</p>
          </div>
        </div>

        <div class="social-media">
            <p>Connect with us :</p>
            <div class="social-icons">
              <a href="https://www.facebook.com/">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://x.com/?lang=en">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://www.instagram.com/">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://www.linkedin.com/">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
        </div>
      </div>

      <div class="contact-form">
        <span class="circle one"></span>
        <span class="circle two"></span>

        <form action="index.html" autocomplete="off">
          <h3 class="title">Contact us</h3>
          <div class="input-container">
            <input type="text" name="name" class="input" />
            <label for=""> <b>Username</b></label>
           
          </div>
          <div class="input-container">
            <input type="email" name="email" class="input" />
            <label for=""><b>Email</b></label>
           
          </div>
          <div class="input-container">
            <input type="tel" name="phone" class="input" />
            <label for=""><b>Phone</b></label>
           
          </div>
          <div class="input-container textarea">
            <textarea name="message" class="input"></textarea>
            <label for=""><b>Message </b></label>
            
          </div>
          <br>
          <div>
            <input type="submit" value="Send" class="btn" />
          </div>
          
        </form>
      </div>
    </div>
  </div>

  <script src="app.js"></script>
</section>
