<!-- About 2 - Bootstrap Brain Component -->
 
<!-- Why choose us -->
<section id="why-choose-us" class="py-3 py-md-5 bg-light">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6">
        <img class="img-fluid rounded" src="https://png.pngtree.com/thumb_back/fw800/background/20240530/pngtree-new-a-cup-of-tea-with-natural-background-image_15845845.jpg" alt="Cup of tea with natural background">
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-10">
            <h2 class="mb-3">Why Choose Us?</h2>
            <p class="lead fs-4 mb-3 mb-xl-5">At <span class="description-C"><b>BeanTea</b></span>, we are passionate about providing the finest teas and coffees to our customers. Here are a few reasons why you should choose us:</p>
            <div class="d-flex align-items-center mb-3">
              <div class="me-3 custom-check-circle">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
              </div>
              <div>
                <p class="fs-5 m-0">
                  <b>Premium Quality:</b>
                  <span class="description"> ensuring that every cup you enjoy is rich, flavorful, and aromatic.</span>
                </p>
              </div>
            </div>
            <div class="d-flex align-items-center mb-3">
              <div class="me-3 custom-check-circle">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
              </div>
              <div>
                <p class="fs-5 m-0">
                  <b>Health Benefits:</b>
                  <span class="description"> Our teas and coffees are not only delicious but also offer numerous health benefits.</span>
                </p>
              </div>
            </div>
            <div class="d-flex align-items-center mb-4 mb-xl-5">
              <div class="me-3 custom-check-circle">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
              </div>
              <div>
                <p class="fs-5 m-0">
                  <b>Community Focus:</b>
                  <span class="description"> We believe in giving back. A portion of our profits supports local communities.</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br> 
<!-- Contact Info -->
<section id="contact-form" class="py-3 py-md-5 bg-light position-relative overflow-hidden">
  <div class="container">
    <span class="big-circle position-absolute"></span>
    <img src="img/shape.png" class="square position-absolute" alt="Decorative shape" />
    <div class="row">
      <div class="col-lg-6">
        <div class="contact-info">
          <h3 class="title">Let's Get in Touch</h3>
          <p class="text">
              Have a question about our products? Need help choosing the perfect blend for your taste? Interested in wholesale opportunities? Whatever you need, our team is ready to provide you with expert guidance and exceptional customer service. Feel free to reach out using any of the options below. We're excited to hear from you and help you discover the perfect cup of tea or coffee!
          </p>
          <div class="info">
            <div class="information">
              <i class="fas fa-map-marker-alt" aria-hidden="true"></i> Taytay Rizal Philippines 1920
            </div>
            <div class="information">
              <i class="fas fa-envelope" aria-hidden="true"></i>
              <p>beantea808&#64;gmail.com</p>
            </div>
            <div class="information">
              <i class="fas fa-phone" aria-hidden="true"></i>
              <p>+6391234567890</p>
            </div>
          </div>
          <div class="social-media">
              <p>Connect with us:</p>
              <div class="social-icons">
                <a href="https://www.facebook.com/" aria-label="Facebook">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://x.com/?lang=en" aria-label="Twitter">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/" aria-label="Instagram">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/" aria-label="LinkedIn">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contact-form">
          <span class="circle one position-absolute"></span>
          <span class="circle two position-absolute"></span>
          <form action="index.html" autocomplete="off">
            <h3 class="title">Contact Us</h3>
            <div class="input-container">
              <input type="text" name="name" id="name" class="input" required />
              <label for="name"> <b>Username</b></label>
            </div>
            <div class="input-container">
              <input type="email" name="email" id="email" class="input" required />
              <label for="email"><b>Email</b></label>
            </div>
            <div class="input-container">
              <input type="tel" name="phone" id="phone" class="input" required />
              <label for="phone"><b>Phone</b></label>
            </div>
            <div class="input-container textarea">
              <textarea name="message" id="message" class="input" required></textarea>
              <label for="message"><b>Message</b></label>
            </div>
            <br>
            <div>
              <input type="submit" value="Send" class="btn" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="app.js"></script>
</section>